@use 'sass:color';

@use '@material/theme/color-palette';

$primary: color-palette.$teal-a400;
$darker-blue-grey: #172329;

@use '@material/theme/index' as theme with (
  $primary: $primary,
  $secondary: color-palette.$teal-300,
  $surface: #000,
  $background: #000,
  $error: color-palette.$red-900
);

a {
  color: $primary;
}
a:visited {
  color: color-palette.$teal-200;
}

body {
	margin: 0;
}

.mdc-tab-bar {
	background-color: color-palette.$teal-500;
}


// COME MODIFICARE UN COMPONENTE
.mdc-tab {
	--mdc-theme-primary: white;
}


.mdc-tab.active {
	color: white;
}

.icon-color .mdc-banner__graphic {
	color: color-palette.$red-900;
	background: black;
}


// FORM --------------------

form, .form-like{
	background-color: $darker-blue-grey;
	padding: 30px;
	margin: 5px auto;
	max-width: 95%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

form .mdc-button {
	margin: 10px;
}




